div{
  text-align: center;
  color: white;
  background-color: black;
  animation-name: fadeIn;
  animation-duration: 2s;
}
span{
  font-size: 10rem;
  color:rgb(224, 8, 8);
}
a{
  color: rgb(224, 8, 8);
  text-decoration: none;
}
@keyframes fadeIn {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }

}
