<!-- test slider  da eliminare alla fine -->

<app-select
  [generi]="generi"
  (cambioGenere)="GetSerieTVByGenere($event)"
></app-select>


<h2>Serie Recenti</h2>
<app-slider class="slider" [isFilmOrSerieTV]="isSerieTv" [SliderDati]="SliderDati"> </app-slider>

<br /><br />
<br /><br />

<ng-container *ngIf="!(isFilter)">
  <h2>Serie Di Tendenza</h2>
  <app-slider class="slider" [isFilmOrSerieTV]="isSerieTv" [SliderDati]="SliderDati2"> </app-slider>
  <div *ngIf="contenuti | async as contents">
  <h2>Tutte le Serie Dal DB</h2>
  <app-slider class="slider" [isFilmOrSerieTV]="''" [SliderDatiDb]="contents"> </app-slider>
  </div>
</ng-container>
