
<header *ngIf="loggedUser() as user; else onlyLogo">
  <div>
    <img class="logo" src="assets/logo.svg" alt="ennovaflix logo" />
    <div >
      <button *ngFor="let item of links" routerLink="{{item.toLowerCase()}}">{{ item }}</button>
    </div>
    <a (click)="modal = !modal">
      <div><img class="userLogo" src="assets/{{user.urlImage}}" alt="user logo" />▼</div>
      <div class="menu" *ngIf="modal">
        <a routerLink="/profile">Profilo</a>
        <a (click)="logoutUser()">Logout</a>
      </div>
    </a>
  </div>
</header>
<ng-template #onlyLogo>
  <div class="onlyLogo">
    <img class="logo" src="assets/logo.svg" alt="ennovaflix logo" />
  </div>
</ng-template>
