<div class="container">
  <div class="video-page">
    <video controls>
      <source src="./../../../../assets/movie.mp4" type="video/mp4" />
    </video>
    <div class="details">
      <h3>{{ details.titolo }} - {{ details.anno }}</h3>
      <span>{{ details.rating }} ★</span>
      <hr />
      <div *ngIf="details.isSerie">
        <select (change)="onSelect(+val.value)" #val>
          <option selected="true" value="">Seleziona stagione</option>
          <option *ngFor="let item of details.stagioni" value="{{item.numero_stagione}}" >{{item.numero_stagione}}</option>
        </select>
        <select *ngIf="puntate.length > 0">
          <option selected="true" disabled>Seleziona puntata</option>
          <option *ngFor="let item of puntate">{{item}}</option>
        </select>

        <hr>
      </div>
      <h4>Cast</h4>
      <span *ngFor="let item of details.cast">{{ item }}, </span>
      <span>...</span>
      <hr />
      <h4>Descrizione</h4>
      <p>{{ details.descrizione }}</p>
    </div>
  </div>

  <div *ngIf="write === false; else aggiungiRecensione" class="recensioni">
    <h3>Recensioni</h3>
    <app-button (click)="write = true" class="add" [text]="'+'"></app-button>
    <div *ngFor="let item of details.recensioni">
      <h4>{{ item.nickname }} - {{ item.rating }}★</h4>
      <p>{{ item.descrizione }}</p>
    </div>
  </div>
</div>
<ng-template #aggiungiRecensione>
  <div class="recensioni">
    <h3>Aggiungi Recensione</h3>
    <div class="rating">
      Voto :
      <label *ngFor="let i of [1,2,3,4,5]"><input  [value]="i" name="rating" type="radio" (click)="ratingValue=i">{{i}}</label>
    </div>
    <div *ngIf="ratingValue > 0" class="stars">{{ratingValue}}★</div>
    <form class="addRecensione">
      <textarea name="recensione" cols="5" rows="5"></textarea>
      <app-button (click)="write = false" class="add" [text]="'Pubblica'"></app-button>
    </form>
  </div>
</ng-template>
